body {
  padding-bottom: 64px;
}
body[data-mode="dark"] pre code {
  background-color: #585858;
  color: #e8e8e8;
}
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  -moz-osx-font-smoothing: unset;
}
blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 2rem;
  padding-right: 3rem
}
a:link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
a:visited {
  color: #d33bf0;
}
a:link,
a:link:hover,
a:link:active,
a:link * {
  color: #0095dd;
}
pre {
  white-space: pre-wrap;
}
pre code {
  background-color: #eff0f1;
  color: #393318;
  font-family: ui-monospace;
  display: block;
  padding: 5px 10px;
}
figure {
  min-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
figure iframe,
section iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}
figure picture img {
  width: 100%;
  height: auto;
}
figcaption {
  font-size: smaller;
  margin-top: 6px;
}
figcaption span:first-of-type {
  padding-right: 6px;
}

/* CSS for serif fonts */
body[data-font=serif] {
  font-family: 'Iowan Old Style';
  line-height: 1.35;
}
/* CSS for sans-serif fonts */
body[data-font=sans-serif] {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, 'Segoe UI', Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  line-height: 1.35;
}

#reader-domain,
#reader-credits, 
#doi, 
#published-time, 
#reader-estimated-time {
  font-family: 'Seravek';
}
#reader-domain > span:first-child {
  font-weight: 700;
}
#reader-title {
  font-family: 'Seravek';
  font-weight: 700;
  font-size: 180%;
  line-height: 1;
}

/* CSS for "sepia" theme */
/* body[data-mode=sepia] {} */
/* CSS for "light" theme */
/* body[data-mode=light] {} */
/* CSS for "dark" theme */
/* body[data-mode=dark] {} */